/* -webkit-tap-highlight-color{transparent}; */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: rgb(61, 60, 60);
  text-decoration: none;
  padding: 0.5rem;
}


.nav-links a:hover,
.nav-links a.active {
  color: #bf8b8b;
}
.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}
.nav-links button:hover,
.nav-links button:active {
  background: #0c0c0c;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
    text-decoration: none;

  }

  .nav-links a {
    color: #827575;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid black;
    color: rgb(10, 9, 9);
    background: transparent;
  }
  .nav-links button:focus {
    outline: none;
}
  .nav-links button:hover,
  .nav-links button:active {
    color: #d9d4d4;
    text-decoration: none;

  }
  .nav-links a:hover,
.nav-links a.active {
  color: #db9d9d;
}
}



